.labelText {
  font-weight: 600;
  margin-bottom: 5px;
}

.input {
  background-color: var(--color-white);
  border-radius: var(--config-border-radius);
  border: solid 1px var(--color-bp-blue);
  padding: 4px;
  height: 40px;
  width: 100%;

  &.placeholder {
    color: var(--placeholder-font-color);
  }

  &.disabled {
    color: var(--color-gray-300);
    border: solid 1px var(--color-gray-200);
    background-color: var(--color-gray-100);
  }
}